body {
    background-color: black;
}
.container {
    width: 200px;
    height: 200px;
    line-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 50%;
}

button {
    background-color: salmon;
    font-size: 30px;
    color: white;
    border: 1px solid lightsalmon;
}